<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.project.mapper.MemberMapper">

<select id="memberListGet" resultType="com.hk.project.vo.Member">
select * from members
</select>

<insert id="memberRegisterPost">
	insert into members (mno, email, pwd, mname, cre_date,mod_date)
	values (mno_sqe.nextval, #{email}, #{pwd}, #{mname}, sysdate, sysdate)
</insert>

<select id="memberGetOne" resultType="com.hk.project.vo.Member">
select *from members
where mno=#{mno}
</select>

<update id = "memberUpdatePost">
	update MEMBERS set mname=#{mname}, email=#{email}, pwd=#{pwd} where mno=#{mno}
</update>

<delete id="memberDeletePost">
delete from members
where mno=#{mno}
</delete>

</mapper>